# Practical 1-3: Getting Started with Python Programming

# Part 1: Data Types and Variables

## 1.1 Numbers and Operators

### 1.1.1 Arithmetic Operators

Operator | Meaning
---------| ------------------------------------
\+       | Addition
\- 	     | Subtraction
\*       | Multiplication
/        | Division
//       | Floor division (or integer division)
%        | Modulus (or remainder)
**       | Exponentiation (power operator)

In [1]:
20 + 40

60

In [2]:
20 + 40.0

60.0

In [3]:
50 - 5 * 6

20

In [4]:
1 / 2

0.5

In [5]:
8 / 5

1.6

In [6]:
8 // 5

1

In [7]:
8 // 5.0

1.0

In [8]:
8 % 5

3

In [9]:
2 ** 3

8

### 1.1.2 abs() and round()

▪ The **abs()** function returns the absolute value of a number.

▪ The **round()** function returns a rounded version of the specified number.

In [10]:
abs(-3)

3

In [11]:
round(3.75)

4

In [12]:
round(3.75, 1)

3.8

### 1.1.3 math Module

In [13]:
import math

math.pi

3.141592653589793

In [14]:
math.sqrt(85)

9.219544457292887

### 1.1.4 Binary Numbers

![numberingsystem.png](numberingsystem.png)

▪ Binary numbers are prefixed with 0b.

https://www.mathsisfun.com/binary-number-system.html

In [15]:
0b10

2

▪ The built-in **format(num, name)** function converts an integer to a binary string.

In [18]:
bin_num = 0b101 * 0b10

format(bin_num, '0b')

'1010'

In [19]:
format(bin_num, '08b')

'00001010'

▪ The built-in **bin()** function converts numbers to binary.

In [20]:
# Print a number in the binary format using the built-in bin() function 
bin(bin_num)

'0b1010'

### 1.1.5 Octal Numbers

▪ Octal numbers are prefixed with 0o.

https://www.mathsisfun.com/definitions/octal.html

In [21]:
0o400

256

In [22]:
oct_num = 0o400 / 0o2

oct_num

128.0

▪ The **oct()** function converts numbers to octal.

In [23]:
oct(int(oct_num))

'0o200'

In [24]:
format(int(oct_num), '0o')

'200'

### 1.1.6 Hexadecimal Numbers

▪ Hexadecimal numbers are prefixed with 0x.

https://www.mathsisfun.com/hexadecimals.html

In [25]:
0x100

256

In [26]:
hex_num = 0x100 / 0x2

hex_num

128.0

In [27]:
format(int(hex_num), '0x')

'80'

▪ The **hex()** function converts numbers to hexadecimal.

In [28]:
hex(int(hex_num))

'0x80'

In [29]:
format(int(hex_num), '0x')

hex(int(hex_num))

'0x80'

### 1.1.7 print()

▪ The **print()** function prints the specified message to the screen, or other standard output device.

https://www.programiz.com/python-programming/methods/built-in/print

In [30]:
print(10)

10

In [31]:
print(format(int(hex_num), '0x'))
print(hex(int(hex_num)))

80
0x80

### 1.1.8 print() without a Trailing newline 

▪ If an empty string ' ' is specified in end, a line break will not occur at the end.

https://note.nkmk.me/en/python-string-line-break/

In [32]:
print('a', end='')
print('b', end='')
print('c', end='')

abc

In [33]:
print(format(int(oct_num), '0x'), end='')
print(hex(int(oct_num)), end='')

800x80

## 1.2 String Literal

### 1.2.1 Single Quotes vs. Double Quotes

▪ String can be enclosed in single quotes ('...') or double quotes ("...") with the same result.

In [34]:
str_1 = "Python Programming is fun!"
print(str_1)

Python Programming is fun!

In [35]:
str_2 = 'Python Programming is fun!'
print(str_2)

Python Programming is fun!

### 1.2.2 When to Use Single Quotes and Double Quotes?

▪ Use double quotes to enclose strings when we know there are going to be single quotes within the strings.

In [36]:
# The following code doesn't work
print('Bobby's World')

SyntaxError: invalid syntax (3558283567.py, line 2)

In [37]:
print('hello "world"')
print("hello 'strings'")

hello "world"
hello 'strings'

### 1.2.3 Printing Meaningful Message

In [38]:
x = 3
y = 4

print('x + y =', x + y)

x + y = 7

### 1.2.4 Concatenation of Two or More Strings Using the + Operator

▪ The **+** operator combines two or more strings in Python.

In [39]:
string = 'Python Programming ' + 'is fun!'

print(string)

Python Programming is fun!

### 1.2.5 Concatenation of Two or More Strings Using the * Operator

▪ The * operator repeats/duplicates the string for a given number of times.

In [40]:
string = "Python" * 3

print(string)

PythonPythonPython

## 1.3 Variables

### 1.3.1 Creating Variables

▪ A Python variable is created the moment we first assign a value to it.

In [41]:
# Integer 
num_1 = 42343 + 3

# Floating point number
num_2 = 343.3234 - 2 

# Binary number 
num_3 = 0b101 * 0b10 

# Octal number 
num_4 = 0o400 / 0o2 

# Hexadecimal number 
num_5 = 0x100 / 0x2

# Boolean 
value_1 = True

# String
str_1 = "Python Programming is easy to learn!"

print(num_1, num_2, num_3, num_4, num_5, value_1, str)

42346 341.3234 10 128.0 128.0 True <class 'str'>

In [42]:
print('Decimal =', num_1, '\nFloating point =', num_2, 
      '\nBinary =', num_3, '\nOctal =', num_4, 
      '\nHexadecimal =', num_5, '\nBoolean =', value_1, 
      '\nString =', str_1)

Decimal = 42346
Floating point = 341.3234
Binary = 10
Octal = 128.0
Hexadecimal = 128.0
Boolean = True
String = Python Programming is easy to learn!

### 1.3.2 Python Variable Types

▪ The **type()** function prints what type of data structures are used to store the data elements in a program.

In [43]:
type(10)

int

In [44]:
type(10.0)

float

In [45]:
print(type(10.0))

<class 'float'>

In [47]:
# Integer 
print('Type of num_1:', type(num_1))
 
# Floating Point 
print('Type of num_2:', type(num_2))

# Binary Number 
print('Type of num_3:', type(num_3))
 
# Octal Number 
print('Type of num_4:', type(num_4))

# Hexadecimal Number 
print('Type of num_5:', type(num_5))
 
# Boolean 
print('Type of value:', type(value_1))

Type of num_1: <class 'int'>
Type of num_2: <class 'float'>
Type of num_3: <class 'int'>
Type of num_4: <class 'float'>
Type of num_5: <class 'float'>
Type of value: <class 'bool'>

### 1.3.3 Accessing Undefined Variables

In [52]:
print(value_2)

NameError: name 'value_2' is not defined

### 1.3.4 Redeclaring Variables

In [53]:
value = True
print(value)
  
value = 10
print(value)

True
10

In [54]:
str_1 = "Python Programming is easy to learn!"
print(str_1)

str_1 = "Hello World!"
print(str_1)

Python Programming is easy to learn!
Hello World!

## 1.4 Random Numbers

Function                         | Meaning
---------------------------------| ------------------------------------------------------------------------------
random()                         | returns the next random floating point number in the range \[0.0, 1.0)
uniform(a, b) 	                 | returns a random floating point number between a and b inclusive
randint(a, b)                    | returns a random integer between a and b inclusive
randrange(start, stop\[, step\]) | returns a random integer from the range
choice(seq)                      | returns a random element from the non-empty sequence
sample(population, k)            | return a k length list of unique elements chosen from the population sequence
shuffle(seq)                     | shuffles the sequence randomly

https://www.programiz.com/python-programming/modules/random

In [55]:
# Import the random library before using any random function
import random

In [56]:
# Random float x, 0.0 <= x < 1.0 (not including 10, the endpoint)
random_1 = random.random()
random_1

0.9222178829223652

In [57]:
# Random float x, 1.0 <= x <= 10.0 (including 10, the endpoint)
random_2 = random.uniform(1, 10)
random_2

7.905020993735847

In [58]:
# Integer from 1 to 10 (including 10, the endpoint) 
random_3 = random.randint(1, 10)
random_3

7

In [59]:
# Even integer from 0 to 100 (not including 102) 
random_4 = random.randrange(0, 102, 2)
random_4

60

In [60]:
# Choose a random element
random_5 = random.choice('abcdefghij')
random_5

'c'

In [62]:
# Choose 3 elements 
elements = random.sample([1, 2, 3, 4, 5],  3)
elements

[1, 3, 2]

In [64]:
# Reshuffle items in a list random.shuffle(items) print items
items = [1, 2, 3, 4, 5, 6, 7]
print(items)

random.shuffle(items)
print(items)

[1, 2, 3, 4, 5, 6, 7]
[1, 3, 4, 5, 2, 7, 6]

# Part 2: Conditionals

## 2.1 Comparison Operators

Operator | Meaning
---------| -------------------------
==       | Equals to
!=	     | Not equals to
\>       | Greater than
\>=      | Greater than or equals to
<        | Less than
<=       | Less than or equals to

In [65]:
print(3 == 2)
print(3 != 2)
print(3 > 2)
print(3 >= 2)
print(3 < 2)
print(3 <= 2)

False
True
True
True
False
False

### 2.2 False Condition

In [69]:
condition = False

if condition:
    print('True')
else:
    print('False')

False

## 2.3 The if Statement

In [70]:
if True:
    print('Condition was True')

if False:
    print('Condition was False')

Condition was True

In [71]:
course_code = 'BACS2003'

if course_code == 'BACS2003':
    print('Course Name: Artificial Intelligence')

if course_code != 'BACS2003':
    print('No match')

Course Name: Artificial Intelligence

## 2.4 The if...else Statement

In [72]:
if course_code == 'BACS2003':
    print('Course Name: Artificial Intelligence')
else:
    print('No match')

Course Name: Artificial Intelligence

## 2.5 The if...elif...else Statement

In [73]:
if course_code == 'BACS2003':
    print('Course Name: Artificial Intelligence')
elif course_code == 'BACS2023':
    print('Course Name: Object-Oriented Programming')
else:
    print('No match')

Course Name: Artificial Intelligence

## 2.6 The Inline if-else Statement

In [75]:
num = 1

print("num equals 1" if num == 1 else "num doesn't equal 1")

num equals 1

In [76]:
if num == 1:
    print("num equals 1")
else:
    print("num doesn't equal 1")

num equals 1

## 2.7 Logical Operators

In [77]:
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(not True)
print(not False)

True
False
True
True
False
True

## 2.8 Example: Decision Making

In [78]:
# Weight in kilogram 
weight = 80.0 

# Height in meter
height = 1.70  

# Calculate the body mass index  
bmi = weight / (height) ** 2  
print('Weight(kg):', weight, '\nHeight(m) :', height, "\nBMI       :", bmi)

# Assumption: bmi is abnormal
normal = False

print("\nSuggestion:")
if bmi < 18.5:      
    print('You are underweight') 
elif 18.5 <= bmi <= 25:     
    print('Congratulation. Your weight is normal')     
    normal = True 
elif 25 <= bmi <= 30:     
    print('Time to keep fit')
elif 30 <= bmi <= 35:     
    print('You should reduce your weight')
else:     
    print('Time to seek help from a professional fitness expert')

if not normal: 
     print('TARUMT Slimming Centre could help!')

Weight(kg): 80.0
Height(m) : 1.7
BMI       : 27.68166089965398

Suggestion:
Time to keep fit
TARUMT Slimming Centre could help!

## 2.9 input()

▪ The **input()** function reads a line from the input (usually from the user), converts the line into a string by removing the trailing newline, and returns it.

In [79]:
name = input("Enter a name: ")
message = "Hi, " + name + ", it is a pleasure to meet you!"
print(message)

Enter a name: ho
Hi, ho, it is a pleasure to meet you!

In [80]:
num = int(input("Enter a number: "))
print("It is even." if num % 2 == 0 else "It is odd.")

Enter a number: 89
It is odd.

# Part 3: Loop

## 3.1 For Loop

### 3.1.1 Java for Loop vs. Python for Loop

In [ ]:
int[] numbers = {1, 2, 3, 4, 5, 6, 7};

for(int i = 0; i < numbers.length; i++) {
    System.out.println(numbers[i]);
}

In [ ]:
numbers = {1, 2, 3, 4, 5, 6, 7}

for number in numbers:
    print(number)

### 3.1.2 Iterating Over a List

In [ ]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

for day in days:
    print(day)

### 3.1.3 Iterating Over a Tuple

In [ ]:
numbers = {1, 2, 3, 4, 5, 6, 7}

for number in numbers:
    print(number)

### 3.1.4 Iterating Over a String

In [ ]:
string = "ABC"

for letter in string:
    print(letter)

In [ ]:
nums = [1, 2, 3, 4, 5]

for num in nums: 
    for letter in 'abc':
        print(num, letter)

### 3.1.5 Iterating Over A Range

In [ ]:
# Start at 0, not including 6
values = range(6)

for value in values:
    print(value)

In [ ]:
for value in range(6):
    print(value)

### 3.1.6 Iterating Over A Sequence with An Interval

In [ ]:
# Start at -5, not including 5
for value in range(-5, 5):     
    print(value)

In [ ]:
# Start at 10, not including 20 with a step of 2
for value in range(10, 20, 2):     
    print(value)

## 3.2 Conditional Loop

### 3.2.1 Java while Loop vs. Python while Loop

In [ ]:
while (b < n) {
    print(b)
    b++;
}

In [ ]:
while b < n:
    print(b)
    b += 1

In [ ]:
x = 0
while x < 10:
    print(x)
    x += 1

### 3.2.2 Example

▪ Fibonacci sequence is a series of numbers in which each number (Fibonacci number) is the sum of the two preceding numbers.

<img src="fib.png" width="450">

In [ ]:
n = int(input("Enter the upper boundry of your fibonacci sequence: "))

a = 0
b = 1
print(a)

while b < n:
    print(b)
    t = b
    b = a + b
    a = t

### 3.2.3 The Break Statement

▪ The **break** statement is used to terminate the loop or statement in which it is present.

In [ ]:
import random

answer = random.randint(1, 10) 

# Infinite loop until the break statement is met
while True:  
    guess = int(input('Guess a number between 1 to 10 >> '))
    
    if guess == answer:
        break   # Terminate the loop
    elif guess > answer:
        print("choose a smaller number")
    else:
        print("choose a bigger number")

print("You got it!")

### 3.2.4 The Continue Statement

▪ The **continue** statement forces to execute the next iteration of the loop.

In [ ]:
for digit in "1234567890":
    if int(digit) % 2 == 0:
        continue # Skip the current iteration of the loop
    print(digit)

### 3.2.5 The Pass Statement

▪ The **pass** statement simply does nothing.

In [ ]:
for number in range(10):
    if number % 2 == 0:
        pass # Write code later
    print(number)

# Part 4: Function

## 4.1 Creating User-Defined Functions 

### 4.1.1 The def Statement

▪ A function in Python is declared using the **def** keyword.

In [ ]:
def area(x, y):
    pass

In [ ]:
def area(x, y):
    return x * y

a = int(input('Enter a length >> '))
b = int(input('Enter a width >> '))

area(a, b) # Nothing will be printed here

print('The area is', area(a, b))

### 4.1.2 Definitions and Calls

▪ All functions must be defined before any are used.

In [ ]:
length = int(input('Enter a length >> '))
width = int(input('Enter a width >> '))
height = int(input('Enter a height >> '))

print('The volume is', volume(length, width, height))

def volume(length, width, height):
    return length * width * height

### 4.1.3 Java Function vs. Python Function

In [ ]:
double setPrice(double price, double discount) {
    double finalPrice = price - price * discount;
    return finalPrice;
}

double price = setPrice(100, 0.10);
print(price);

In [ ]:
def set_price(price, discount):
    final_price = price - price * discount
    return final_price

p = set_price(100, 0.1)
print(price)

## 4.2 Creating Functions with Default Parameter(s)

In [82]:
def circle(radius, pi): 
    area = pi * radius ** 2
    return area

print(circle(10, 22/7))

314.2857142857143

### 4.2.1 A Function Call with A Full Set of Arguments

▪ The default value of the 2nd parameter is overwritten by the 2nd argument's value, 22/7.

In [83]:
def circle(radius, pi = 3.14): # A default value is set to pi
    area = pi * radius ** 2
    return area

print(circle(10, 22/7))

314.2857142857143

### 4.2.2 A Function Call with Only One Argument

▪ The 2nd argument is not provided, and hence the default value of the 2nd parameter is used.

In [84]:
print(circle(10))

314.0

### 4.2.3 A Function Call with A Full Set of Argument in The Wrong Positions

▪ The 1st and the 2nd arguments are in the wrong positions.

In [85]:
print(circle(22/7, 10))

98.77551020408163

### 4.2.4 Positional Arguments vs. Keyword Arguments

▪ Python functions can contain two types of arguments: positional arguments and keyword arguments. 

\>>> **Positional arguments** must be included in the correct order. 

\>>> **Keyword arguments** are included with a keyword and equals sign.

https://problemsolvingwithpython.com/07-Functions-and-Modules/07.07-Positional-and-Keyword-Arguments/

In [86]:
print(circle(pi = 22/7, radius = 10))

314.2857142857143

### 4.2.5 Example

In [87]:
def greeting(name, message):
    return message + name

name = 'Michelle'
message = 'Congratulation'

print(greeting(name, message))
print(greeting(message, name))
print(greeting(name = 'Michelle', message = 'Congratulation'))
print(greeting(message = 'Congratulation', name = 'Michelle'))

CongratulationMichelle
MichelleCongratulation
CongratulationMichelle
CongratulationMichelle